.title{
  font-family: 'Helvetica', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 15%;
}

.alert {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  padding-top: 2%;
}

.content {
  display: block;
  margin: 0 auto;
  width: 300px;
}

.file input {
  border: none;
  outline:none;
  background-color: rgba(0,0,0,3); /* Green */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Helvetica', sans-serif;
}

.upload input {
  border: none;
  outline:none;
  background-color: rgba(0,0,0,3); /* Green */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Helvetica', sans-serif;
}
