<p>Your file ID: {{fileId}}</p>
<label>File has headers?</label>
<input type="checkbox" [(ngModel)]="options['file_has_headers']">
<div *ngFor="let cleaningFunctionName of cleaningFunctionNames">
    <h3>{{cleaningFunctions[cleaningFunctionName]['friendly_text']}}</h3>
    <p>{{cleaningFunctions[cleaningFunctionName]['friendly_subtext']}}</p>
    <label>Enabled</label>
    <input type="checkbox" [(ngModel)]="cleaningFunctions[cleaningFunctionName]['enabled']">
    <div *ngIf="cleaningFunctions[cleaningFunctionName]['enabled']">
        <div *ngFor="let option of cleaningFunctions[cleaningFunctionName]['options']">
            <label for="{{option.name}}">{{option.friendly_text}}</label>
            <input type="text" id="{{option.name}}" placeholder="{{option.tip}}" [(ngModel)]="option['value']">
            <span class="tip">{{option.tip}}</span>
        </div>
    </div>
</div>
<button (click)="identify_errors()">Clean My Data</button>